html, body {
    background-color: #21232A;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    padding: 40px;
}

button {
    font-size: 1rem;
    margin-right: 10px;
    padding: 10px;
}